.work-group {
    margin: 30px;
    border-style: solid;
    border-width: 0.1em;
    border-color: rgb(2, 204, 107);
    padding: 15px 30px;
    border-radius: 3px;
}

.plus-circle {
    font-size: large;
}

.add-work-group:hover, .add-work-group:focus {
    border-color: #02cc6b !important;
}
