.work-group {
    margin: 10px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(191, 191, 191);
    padding: 10px;
    border-radius: 3px;
}

.plus-circle {
    font-size: large;
}

.add-work-group:focus {
    background-color: green;
    border-color: green;
}
