.work-station {
    margin: 10px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(191, 191, 191);
    padding: 10px;
    border-radius: 3px;
}

.plus-circle {
    font-size: large;
}

.add-work-station:hover, .add-work-station:focus {
    border-color: #02cc6b !important;
}
