<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>
{{data}}
<form method="post">
    <input name="uid" type="text" class="form-control login-field" autocomplete="off" placeholder="请输入用户ID"
           id="login-name"/>
    <label class="login-field-icon fui-user" for="login-name"></label>
</form>
</body>
</html>